#indexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
  
#outer-box {
  width: 1000px;
  margin: 4em;
  border-bottom: black solid 2px;
}

.previewBox {
  /*     width: 500px; */
  /*     box-sizing: content-box; */
  display: flex;
}

#outerImgBox {
  width: 1000px;
  display: block;
  flex-flow: row wrap;
}

.innerImgBox {
  flex-flow: row wrap;
}

.innerImgBox > img {
  display: flex;
  margin: 3px;
}

.reserve {
  float: right;
  width: 400px;
  padding: 12px;
  border: solid black 3px;
  border-radius: 15px;
  text-align: center;
  margin-top: 15px;
}

.reserve > p {
  display: inline-block;
}

.price > span {
  font-size: 1.5em;
  font-weight: bold;
}

.res-reviews {
  margin-left: 10em;
}

#reserveButton {
  padding: 15px;
  width: 350px;
  color: white;
  background-color: salmon;
  box-shadow: 2px 2px 0px black;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.borderBox {
  border-bottom: solid;
}

#star {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 2px;
}

.spotDesc {
  display: block;
  width: 600px;
  min-height: 180px;
}

  #display {
    display: block;
  }

  .outer {
    text-align: center;
  }

  .inner {
  width: 1000px;
  text-align: center;
  }

  label > .txtInput {
    margin-left: 10px;
    
  }

  #price {
    display: inline-block;
  }

  .errors {
    color: red
}



/*  spotsindex*/
/* #indexBox {
  display: flex;
  align-items: center;
  justify-content: start;
} */

.imgtop {
  height: 350px;
  width: 350px;
}

.spotBox {
  display: flex;
  height: 370px;
  width: 350px;
  flex: 1 1 25%;
  
}

.marginForCard {
  margin: 15px;
}

.thumbnail {
  width: 350px;
  height: 300px;
  margin-bottom: 5px;
  object-fit: cover;
}

.infoBox {
  display: block;
  height: 100x;
  width: 350px;
}

.infoBox-left{
  display: inline-block;
  text-align: left;
  width: 48%;
}

.infoBox-right {
  text-align: right;
  display: inline-block;
  width: 49%;
  vertical-align: 17px;
}

.infoBox p {
  margin-top: 5px;
  line-height: 8px;
}

#cash {
  font-weight: 600;
}

.location, .stars {
  font-size: 17px;
}

#indexBox a {
  display: flex;
}

/* .child-box {
flex: 1;
flex-basis: 23%;
} */