li {
    /* line-height: 200%; */
    height: 30px;
    width: 100px;
    /* margin: .7em; */

    display: inline-block;

    text-decoration: none;
    cursor: pointer;
    text-align: center;
}



.active {
    text-decoration: none;
    background-color: antiquewhite;
}