/* li {
    height: 30px;
    width: 100px;
    display: inline-block;

    text-decoration: none;
    cursor: pointer;
    text-align: center;
} */

#navbar {
    position: sticky;
    border-bottom: solid 2px rgb(159, 159, 159);
    height: 300px;
    display: block;
}

.active {
    text-decoration: none;
    color: black;
}

#logobnb {
    display: inline-block;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
}

.navlogo-container {
    display: inline-block;
    text-align: left;
    width: auto;
    height: 70px;
    vertical-align: top;
}


/* #logo-nav {

} */

/* i {
    background-color: transparent;
} */