li {
    height: 30px;
    width: 100px;
    display: inline-block;

    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

#navbar {
    position: sticky;
}

.active {
    text-decoration: none;
    color: black;
}

#logobnb {
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
}