.box {
    display: grid;
    border-top: solid black 2px;
}

label, button, h1 {
    margin: 10px;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
    font-size: 1.5em;
  }
  
#demo {
  font-size: 1em;
  text-decoration: underline;
  color:rgba(0, 0, 153, 0.698);
  cursor: pointer;
}  

.input {
  display: inline-grid;
  border: 1px solid black;
  padding: 12px;
  border-radius: 5px;
  color: gray;
  font-size: 12px;
  width: 350px;
  margin-bottom: .5em;
}

#login {
  padding: 12px;
  width: 350px;
  box-shadow: 4px 4px 0px black;
}